@import '@/assets/sass/variables.scss';

h1 {
    margin: 0;
    font-size: 2.5rem;

    @media screen and (min-width: $breakpointTablet) {
        font-size: 3rem;
    }

    @media screen and (min-width: $breakpointDesktop) {
        font-size: 4rem;
    }
}

.contactPart, .newsletterPart, .socialLinksPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}