@import '@/assets/sass/variables.scss';

.productCardCategories {
    width: 100%;
    height: 25.50556rem;
    background: $ultraLightColor;
    border-radius: $containerBorderRadius;
    box-shadow: $shadow;
    position: relative;

    @media screen and (min-width: 400px) {
        height: 30rem;
    }

    @media screen and (min-width: 550px) {
        height: 35rem;
    }

    @media screen and (min-width: 692px) {
        width: unset;
        height: 25.50556rem;    
    }

    @media screen and (min-width: $breakpointDesktop) {
        width: 26.5rem;
        height: 36rem;
    }

    .productImageContainerCategories {
        width: 100%;
        height: 19.12913rem;
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-radius: $containerBorderRadius $containerBorderRadius 0 0;

        @media screen and (min-width: 400px) {
            height: 23rem;
        }

        @media screen and (min-width: 550px) {
            height: 28rem;
        }

        @media screen and (min-width: 692px) {
            height: 19.12913rem;
        }

        @media screen and (min-width: $breakpointDesktop) {
            height: 27rem;
        }
    }

    .productImageCategories {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        object-fit: cover;
        border-radius: inherit;

        &.clickable {
            cursor: pointer;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .productInfoContainerCategories {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        gap: unset;

        @media screen and (min-width: $breakpointDesktop) {
            padding: 1rem;
        }

        .productBrandAndModelContainerCategories {
            display: flex;
            gap: .2rem;
        }

        .productBrandCategories, .productModelCategories {
            font-size: 1.25rem;
            font-weight: 400;
            margin: 0;

            @media screen and (min-width: $breakpointDesktop) {
                font-size: 1.5rem;
            }
        }

        .productPriceCategories {
            font-size: 1.5rem;
            font-weight: 600;
            margin: 0;
        }

    }

    .productCardLineContainerCategories {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: .25rem;
        width: unset;

        .inStockCategories {
            margin: 0;
            color: #45AA43;
        }

        .onDemandCategories {
            margin: 0;
            color: #CA0B0B;
        }

        .actionIconsContainerCategories {
            display: flex;
            gap: 10px;

            .customerIcon {
                cursor: pointer;
                font-size: 1.3rem;

                @media screen and (min-width: $breakpointDesktop) {
                    font-size: 1.5rem;
                }
            }
        }

    }

    .addedToCartMentionCategories, .addedToWishlistMentionCategories {
        display: flex;
        align-items: center;
        gap: .3rem;
        background: rgba($darkColor, .5);
        color: $lightColor;
        border-radius: 5px;
        position: absolute;
        top: .5rem;
        left: .5rem;
        padding: .3rem;

        .addedToCartMentionTextCategories {
            font-size: .8rem;
            margin: 0;
            font-weight: 400;
        }

        .validateIconCategories {
            color: #45AA43;
        }

        .validateIcon2Categories {
            color: #CA0B0B;
        }
    }
}