@import '@/assets/sass/variables.scss';

.product-card {
    width: 100%;
    height: unset;
    background: $ultraLightColor;
    border-radius: $containerBorderRadius;
    box-shadow: $shadow;
    position: relative;

    @media screen and (min-width: $breakpointTablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product-image_container {
        width: 100%;
        height: 19.12913rem;
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-radius: $containerBorderRadius $containerBorderRadius 0 0;

        @media screen and (min-width: 400px) {
            height: 23rem;
        }

        @media screen and (min-width: 550px) {
            height: 28rem;
        }

        @media screen and (min-width: $breakpointTablet) {
            border-radius: $containerBorderRadius 0 0 $containerBorderRadius;
        }
    }

    .product-image {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        object-fit: cover;
        border-radius: inherit;
    }

    .product-infos_container {
        padding: .5rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        @media screen and (min-width: $breakpointTablet) {
            padding: 1rem;
            gap: 2rem;
            position: relative;
        }

        .product-brand-and-model_container {
            display: flex;
            gap: .2rem;
        }

        .product-brand, .product-model {
            font-size: 1.25rem;
            font-weight: 600;
            margin: 0;

            @media screen and (min-width: $breakpointTablet) {
                font-size: 1.75rem;
            }
        }

        .product-description {
            font-size: .9rem;
            margin: 0;
            text-align: justify;

            @media screen and (min-width: $breakpointTablet) {
                font-size: 1rem;
            }
        }

        .product-price {
            font-size: 1.25rem;
            font-weight: 600;
            margin: 0;

            @media screen and (min-width: $breakpointTablet) {
                font-size: 1.75rem;
            }
        }
    }
    .product-card-line_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: unset;
        width: 100%;

        @media screen and (min-width: $breakpointTablet) {
            flex-direction: column;
            align-items: end;
            gap: .5rem;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }

        .inStock {
            margin: 0;
            color: #45AA43;
        }
        .onDemand {
            margin: 0;
            color: #CA0B0B;
        }
        .action-icons_container {
            display: flex;
            gap: 10px;
            
            .customerIcon {
                cursor: pointer;
                font-size: 1.3rem;

                @media screen and (min-width: $breakpointTablet) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .addedToCart-mention, .addedToWishlist-mention {
        display: flex;
        align-items: center;
        gap: .3rem;
        background: rgba($darkColor, .5);
        color: $lightColor;
        border-radius: 5px;
        position: absolute;
        top: .5rem;
        left: .5rem;
        padding: .3rem;

        .addedToCart-mention_text {
            font-size: .8rem;
            margin: 0;
            font-weight: 400;
        }
        .validateIcon {
            color: #45AA43;
        }
        .validateIcon2 {
            color: #CA0B0B;
        }
    }

}
